@import "variables.scss";
// target the DOM
body {
   /*we use ../ before the file name to direct computer back to root directory file bc this image is not in the css foler and the page/computer thinks the pic is in the css folder*/
   background-color: gray;
   background-repeat: round;
   background-size: cover;
   font-size: $font-size-standard;
   margin: 0; // set as 0 to overide the chrome browser default margin
   padding: 0; // set as 0 to overide the chrome browser default margin

}


header {
  background-color: $primary-color;
  height: 115px;
  overflow: hidden; // overflow adjusts for when the content is larger than the element
  nav {
    ul {
      padding: 0px;
    }
  }
}

#headline {
  color: $third-color;
  font-family: $header-font;
  font-size: $font-size-headline;
  line-height: 250%; // references font size of element multiplied by 200%
  margin: 10px 0px 10px 0px;
  text-shadow: 2px 2px 7px $third-color;
  letter-spacing: 0.2rem;
  text-align: center;
}


nav {
  margin: -10px auto 0 auto;
  text-align: center;
  ul {
    li {
      font-size: $font-size-subtext;
      display: inline;
      padding: 8px;
      letter-spacing: 0.2rem;
        a {
          color: $third-color;
          text-decoration: none;

        }
    }
  }
}


  .home a.home,
  .services a.services,
  .about a.about,
  .contact a.contact {
    background-color: $sec-color;
    text-shadow: 2px 2px 7px $sec-color;
  }


  h2 {
    font-size: $font-size-standard;
    font-style: $text-font;
    font-weight: bold;

    p {
      color: $primary-color;
    }
  }



section {
  position: relative;
  float: left;
  width: 72%;
  height: 600px;
  margin: 1% 1% 1% 1%;
  background-color: rgba(255, 255, 255, 0.75);
