<section>

  <h1>About</h1>

  <p>Lego Construction Inc. started in Chicago by Mr. Lebron Lego in 1970.<br />
  Lebron was born in Celevand, Ohio. Lebron moved to Chicago as at 12 years old with his mother. <br />
  Mr. Lego started his company to provide for his expanding family and to pass down his trade to his sons.<br />
  Mr. Lego has retired. Currently, Lebron Jr. and Tebron Lego operate Lego Construction Inc. 
  </p>


</section>
