<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contruct It Inc.</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>



    <hr>
    <footer>&copy; 2015. All rights reserved. </footer>
  </body>
</html>
