<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lego Construction Inc.</title>
    <link rel="stylesheet" href="views/styles/styles.css">
  </head>
  <body>

    <header>
      <h1 id="headline">Lego Construction Inc.</h1>
      <nav>
        <ul>
          <li><a href="index.html" class="selected">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>

      <hr>
    </header>


    <%= yield %>


    <footer>
    <hr>
      &copy; 2008-2015 Lego Construction Inc. All rights reserved.
    </footer>
  </body>
</html>
