<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lego Construction Inc.</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="./styles/styles.css">
  </head>
  <body>

    <header>
      <h1 id="headline">Lego Construction Inc.</h1>
      <nav>
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="services" class="active">Services</a></li>
          <li><a href="about"  class="active">About</a></li>
        </ul>
      </nav>

      <hr>
    </header>



    <%= yield %>


    <footer>
    <hr>
      &copy; 2008-2015 Lego Construction Inc. All rights reserved.
    </footer>
  </body>
</html>
