
<section>

  <h1>Services</h1>

  <h2>We beat the compeittion!</2>
    <ul>
      <li>Heavy equipment rentals</li>
      <li>Scafolding repair</li>
      <li>Constrcut tall and conventional buildings</li>
      <li>Building and Commmercial</li>

    </ul>

</section>
