
<section>

  <h1>services</h1>

  <p>We beat the compeittion!</p>
    <ul>
      <li>Heavy equipment rentals</li>
      <li>Scafolding repair</li>
      <li>Constrcut tall and conventional buildings</li>
      <li>Building and Commmercial</li>

    </ul>

</section>
